  
<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-info">
      <div class="panel-heading">New Pokedex</div>
        <div class="panel-body">
            <%= render 'form', pokedex: @pokedex %>
        </div>
      </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>