    
<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="index_page">
            <%= image_tag "logo.png" %>
            <h2>WELCOME TO POKEMON GAME</h2>
          </div>
        </div>
      </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>