<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-info">
      <div class="panel-heading">New Pokemon</div>
        <div class="panel-body">
            <%= render 'form', pokemon: @pokemon %>
        </div>
      </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>