body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.navbar-brand{
  font-weight: bold;
}

.panel-body{
  min-height: 500px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #d9edf7;

}
.footer p{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold
}
.index_page{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.index_page h2{
  font-weight: bold;
  color: grey;
}
.photo img{
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
table img{
  width: 50px;
}
.table{
  border: 1px solid #bce8f1 !important;
  border-top: 1px solid #bce8f1;
}
thead{
  background-color: #d9edf7; 
}
.pagination{
  float: right;
  margin-right: 50px;
}
.button{
  margin-left: 30px;
}
.panel-body-show{
  padding: 25px;
}
.panel-heading{
  font-size: 20px;
  color: black !important;
}
.navbar-default{
  background-color: #d9edf7;
}