body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.navbar-brand{
  font-weight: bold;
}

.panel-body{
  min-height: 500px;
}
.footer {
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #d9edf7;

}
.footer p{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold
}
.index_page{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.index_page h2{
  font-weight: bold;
  color: grey;
}
.photo img{
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
table img{
  width: 50px;
}
.table{
  border: 1px solid #bce8f1 !important;
  border-top: 1px solid #bce8f1;
}
thead{
  background-color: #d9edf7; 
}
.pagination{
  float: right;
  margin-right: 50px;
}
.button{
  margin-left: 30px;
}
.panel-body-show{
  padding: 25px;
}
.panel-heading{
  font-size: 20px;
  color: black !important;
}
.navbar-default{
  background-color: #d9edf7;
  height: 70px;
}
body{
  padding-top: 0px;
}
a img{
  width: 25px;
}
.container{
  margin-bottom: 20px;
  min-height: 800px;
}
.field_with_errors input{
  border: 1px solid red !important;
}
.select-error{
  border: 1px solid red !important;
}
.battle{
  text-align:  center;
}
.battle h4{
  text-align:  center;
}
.battle-img{
  text-align:  center;
}
.battle-img img{
  height: 200px; 
  margin-bottom: 50px;
}
.col-sm-2 h2{
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
}
.col-sm-2 h3{
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}
.field_with_errors .message{
  color: red !important;
}
.field_with_errors_pokemon{
  color: red;
  font-weight: bold;
}
#notice{
  color: red;
  text-align: center;
  font-weight: bold;
}
.text-primary{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.breadcrumb{
  background-color: white;
}
.actions{
  margin-top: 80px;
}
.panel_statistic{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  width: 480px;
  height: 400px;
  float: left;
}
#most_win_pokemon{
  margin-right: 20px;
}
#most_lose_pokemon{
  margin-left: 20px;
}
#most_used_skill{
  margin-right: 20px;
}
#most_pokemon_picked{
  margin-left: 20px;
}
#most_surrender_pokemon{
  float: none;
  width: 800px !important;
}
.nav-element{
  font-size: 11px;
  background-color:  #d9edf7;
  width: 100%;
}
hr{
  border-top: 2px solid #d9edf7;
}
#win_rate_pokemon{
  width: 90%;
}